html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-layout {
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-columns: 1fr 260px;
    grid-template-rows: 8vh 1fr 4vh;

    grid-template-areas:
        "top top"
        "game sidebar"
        "bottom bottom";

    overflow: hidden;
}

/* Bereiche */
.top {
    grid-area: top;
}


.game {
    position: relative;
    height: 80%;
    grid-area: game;
    overflow: hidden;
    border-bottom: 3px solid #104075;

}

.game canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;

}
.fullscreen-overlay {
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: calc(100vh - 8vh);

    z-index: 50;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
}

.fullscreen-overlay.open {
    opacity: 1;
    pointer-events: auto;
}



.bottom {
    grid-area: bottom;
}

.topbar {
    background: linear-gradient(180deg, #451f17, #451f17);

    border-bottom: 3px solid #1e3a6b;

    box-shadow: inset 0 -2px 8px rgba(0, 0, 0, 0.7);
    grid-area: top;
    position: relative;
    z-index: 100;
}

.top {
    grid-area: top;
    position: relative;
    z-index: 100;
}

.harbor-overlay {
    position: fixed;

    top: 8vh;
    left: 0;

    width: 100vw;
    height: calc(100vh - 8vh);

    z-index: 999;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
}

